* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #555, #8a2be2);
    min-height: 100vH;
    justify-content: center;
    align-items: center;
  }
  header {
    background-color: #6a0dad;
    padding: 20px 0;
  }
  
  .header-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
  }
  
  .logo-header {
    width: 60px;
  }
  main {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 120px;
  }
  .intro-section {
    text-align: center;
    background-color: rgba(248, 248, 248, 0.479);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  .intro-section h2 {
    font-size: 2rem;
    color: #6a0dad;
    margin-bottom: 20px;
  }
  
  .intro-section p {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }
  
  .btn {
    background-color: #6a0dad;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background 0.3s;
  }
  
  .btn:hover {
    background-color: #5a009d;
  }
  
  .info-section {
    background-color: rgba(248, 248, 248, 0.479);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  .info-section h2 {
    font-size: 1.8rem;
    color: #6a0dad;
    margin-bottom: 15px;
  }
  
  .info-section p {
    font-size: 1rem;
  }